* {
    box-sizing: border-box;
}

input, submit, select, textarea {
    appearance: none;
    border-radius: 0;
    border: 1px solid #888;
}

body {
    background-color: #888;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a:hover {
    color: #ffaa44;
}

a {
    color: black;
    text-decoration: initial;
}

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

.canvas {
    background-color: #fff;
    width: 800px;
    margin: 0 auto;
    min-height: 100vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
}

header {
    margin: 0;
    border-bottom: 3px solid #ffbb44;
}

header h1 {
    color: #ffbb44;
    margin: 7px 0 5px 20px;
    font-weight: normal;
}

header nav ul {
    margin: 10px auto;
    display: table;
}

header nav li {
    display: inline-block;
    margin: 0 15px;
}

.sisalto {
    width: 70%;
    margin: 20px auto 0 auto;
}

.kulma {
    position: absolute;
    top: 7px;
    right: 10px;
}

.kulma form {
    display: inline-block;
}

input[type=submit] {
    background-color: #ffbb88;
    display: block;
    width: 200px;
}

.project-name {
    width: 200px;
}

.project-desc {
    width: 200px;
    height: 50px;
}

.new-project-submit {
    display: block;
    width: 200px;
}

table {
    border-collapse: collapse;
}

.taulukko {
    border: 1px solid #888;
}

.taulukko thead {
    background-color: #bcbcff;
}

.taulukko th,
.taulukko td {
    text-align: left;
    padding: 2px 4px;
}

#tyotila .tyotila,
#raportti .raportti,
#uusi_projekti .uusi_projekti,
#ryhma .ryhma {
    color: #ffbb44;
}

.toiminto {
    margin: 30px;
}

.poista {
    background-color: #ff8888;
}

p a {
    color: #ffbb44;
    text-decoration: initial;
}


.tervehdys {
    color: #0f0;
}