<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projektitunnit</title>
        <meta charset="UTF-8" />
        <link href="../../webapp/static/css/styles.css" th:href="@{/static/css/styles.css}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header class="clearfix">
            <h1> Projektituntiseuranta</h1>
            <div class="kulma">
                <button>Muokkaa tietojasi</button>
                <form th:action="@{/logout}" method="post">
                    <button type="submit">Kirjaudu ulos</button>
                </form>
            </div>

            <nav>
                <ul>
                    <li><a class="tyotila" th:href="@{/projektit}">Kirjaa tunteja</a></li>
                    <li><a class="raportti" th:href="@{/projektit/raportti}">Tuntiraportti</a></li>
                    <li><a class="uusi_projekti" th:href="@{/projektit/kaikki}">Projektit</a></li>
                    <li><a class="ryhma" th:href="@{/ryhmat}">Ryhmät</a></li>
                </ul>
            </nav> 
        </header>
    </body>
</html>
