            <header class="clearfix">
                <h1> Projektituntiseuranta</h1>
                <div class="kulma">
                    <button>Muokkaa tietojasi</button>
                    <button>Kirjaudu ulos</button>
                </div>

                <nav>
                    <ul>
                        <li><a href="#">Jatka työskentelyä</a></li>
                        <li><a href="#">Tuntiraportti</a></li>
                        <li><a href="#">Luo projekti</a></li>
                        <li><a href="#">Luo ryhmä</a></li>
                    </ul>
                </nav> 
            </header>
