<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projektitunnit</title>
        <meta charset="UTF-8" />
        <link href="../../webapp/static/css/styles.css" th:href="@{/static/css/styles.css}" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="canvas">
            <header class="clearfix">
                <h1>Projektituntiseuranta</h1>
            </header>

            <div class="sisalto">
                <h2>Seuraa näppärästi projektikohtaista ajankäyttöäsi!</h2>
                <ul>
                    <li>Lisää projekti, jonka ajankäyttöä haluat seurata</li>
                    <li>Aloita työskentely painamalla nappia ja järjestelmä laskee automaattisesti tuntisi</li>
                    <li>Kommentoi tekemiäsi työtunteja</li>
                    <li>Lisää ryhmä ja seuraa ryhmäläisten työtunteja</li>
                </ul>


                <h2>Kirjaudu sisään</h2>
                <p>Jos sinulla ei ole vielä tunnuksia, <a href="">rekisteröidy</a>.</p>

                <form>
                    <table>
                        <tr> <td>Sähköposti:</td> <td> <input type="text" /> </td> </tr>
                        <tr> <td>Salasana:</td> <td> <input type="password" /> </td> </tr>
                        <tr> <td> </td> <td><input type="submit" value="Kirjaudu" /></td> </tr>
                    </table>
                </form>

            </div>
        </div>
    </body>
</html>