<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projektitunnit</title>
        <meta charset="UTF-8" />
        <link th:href="@{/css/styles.css}" rel="stylesheet"  href="../../css/styles.css"/>
    </head>

    <body>
        <div class="canvas">
            <div th:replace="fragments/header :: header"> 
            </div>

            <div class="sisalto">
                <h2>Muokkaa tekemääsi työaikaa</h2>


                <form th:method="POST" th:action="@{/tunti/{id}(id=${tunti.id})}" action="#" th:object="${tunti}">
                    <table>
                        <tr> <td>Aika: </td>
                            <td> <span th:text="${tunti.paivays}"></span>: <span th:text="${tunti.kesto}"></span> </td>
                        </tr>
                        <tr> <td><label for="comment">Kommentit: </label></td>
                             <td> <textarea th:field="*{kuvaus}" class="project-desc" th:text="${tunti.kuvaus}" id="comment" ></textarea>
                            <p th:if="${#fields.hasErrors('kuvaus')}" th:errors="*{kuvaus}">kuvaus virheviesti</p>
                                  <input type="submit" class="new-project-submit" value="Muokkaa" /> </td> </tr>
                    </table>
                </form>
                
                <form th:action="@{/tunti/{id}(id=${tunti.id})}" th:method="DELETE" action="#">
                    <input type="submit" value="Poista" class="poista" />
                </form>

            </div>
        </div>
    </body>
</html>