<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projektitunnit</title>
        <meta charset="UTF-8" />
        <link th:href="@{/css/styles.css}" rel="stylesheet"  href="../../css/styles.css"/>
    </head>

    <body>
        <div class="canvas">
            <div th:replace="fragments/header :: header"> 
            </div>

            <div class="sisalto">
                <h2>Muokkaa tekemääsi työaikaa</h2>


                <form th:method="POST" th:action="@{/tunti/{id}(id=${tunti.id})}" action="#" th:object="${tunti}">
                    <table>
                        <tr> <td>Aika: </td>
                            <td> <span th:text="${tunti.paivays}"></span>: <span th:text="${tunti.kesto}"></span> </td>
                        </tr>
                        <tr>
                            <td> <select name="pp" th:field="*{tunti.pp}">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                            </select>
                            .
                            <select name="kk" th:field="*{tunti.kk}">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            .
                            <select name="vvvv" th:field="*{tunti.vvvv}">
                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                            </select> </td>
                        </tr>

                        <tr> <td><label for="comment">Kommentit: </label></td>
                             <td> <textarea th:field="*{kuvaus}" class="project-desc" th:text="${tunti.kuvaus}" id="comment" ></textarea>
                            <p th:if="${#fields.hasErrors('kuvaus')}" th:errors="*{kuvaus}">kuvaus virheviesti</p>
                                  <input type="submit" class="new-project-submit" value="Muokkaa" /> </td> </tr>
                    </table>
                </form>
                
                <form th:action="@{/tunti/{id}(id=${tunti.id})}" th:method="DELETE" action="#">
                    <input type="submit" value="Poista" class="poista" />
                </form>

            </div>
        </div>
    </body>
</html>