<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projektitunnit</title>
        <meta charset="UTF-8" />
        <link th:href="@{/css/styles.css}" rel="stylesheet"  href="../../css/styles.css"/>
    </head>

    <body id="tyotila">
        <div class="canvas">
            <div th:replace="fragments/header :: header"> 
            </div>

            <div class="sisalto">
                <h2>Jatka työskentelyä</h2>

                <p>Valitse projekti, jonka parissa jatkat. Paina sitten "aloita".</p>

                <form>
                    <h3>Omat projektisi</h3>
                    <table class="taulukko">
                        <thead>
                            <tr> <th>Projekti</th> <th>Tunteja yht.</th> </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${projektit.empty}"> <td colspan="2">Ei projekteja</td> </tr>
                            <tr th:each="projekti : ${projektit}"> <td th:text="${projekti.nimi}">nimi</td> <td> – </td> </tr>
                        </tbody>
                    </table>

                    <h3>Ryhmäprojektit</h3>
                    <table class="taulukko">
                        <thead>
                            <tr> <th>Projekti</th> <th>Ryhmä</th> <th>Tuntisi yht.</th> </tr>
                        </thead>
                        <tbody>
                            <tr> <td colspan="3">Ei projekteja</td> </tr>
                        </tbody>
                    </table>
                    <input type="submit" value="aloita" disabled="disabled"/>
                </form>

               <p><a th:href="@{/projektit/kaikki}">Muokkaa projekteja</a> – 
                    <a th:href="@{/projektit/uusi_projekti}">Luo projekti</a></p>

            </div>
        </div>
    </body>
</html>