<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projektitunnit</title>
        <meta charset="UTF-8" />
        <link th:href="@{/css/styles.css}" rel="stylesheet"  href="../../css/styles.css"/>
    </head>

    <body id="tyotila">
        <div class="canvas">
            <div th:replace="fragments/header :: header"> 
            </div>

            <div class="sisalto">

                <div th:if="${projektit}">
                    <h2>Kirjaa tunteja</h2>

                    <p>Valitse projekti, jonka parissa jatkat. Paina sitten "aloita".</p>

                    <form th:method="POST" th:action="@{/projektit/tunti}" action="#">
                        <h3>Omat projektisi</h3>
                        <table class="taulukko">
                            <thead>
                                <tr> <th>Projekti</th> <th>Tunteja yht.</th> </tr>
                            </thead>
                            <tbody>
                                <tr th:if="${projektit.empty}"> <td colspan="2">Ei projekteja. Aloita <a th:href="@{/projektit/uusi_projekti}">luomalla projekti</a>!</td> </tr>
                                <tr th:each="projekti : ${projektit}"> 
                                    <td> <input type="radio" name="projektiId" th:value="${projekti.id}" th:id="${projekti.id}" /><label th:for="${projekti.id}" th:text="${projekti.nimi}">nimi</label> </td> 
                                    <td th:text="${projekti.tunnit}"> – </td> 
                                </tr>
                            </tbody>
                        </table>

                        <h3>Ryhmäprojektit</h3>
                        <table class="taulukko">
                            <thead>
                                <tr> <th>Projekti</th> <th>Ryhmä</th> <th>Tuntisi yht.</th> </tr>
                            </thead>
                            <tbody>
                                <tr> <td colspan="3">Ei projekteja</td> </tr>
                            </tbody>
                        </table>
                        <input type="submit" value="Aloita" class="toiminto" id="aloita" />
                    </form>

                </div>

                <div th:if="${tunti}">
                    <h2><span th:text="${projekti.nimi}">Projektin nimi</span>: Työskennellään...</h2>
                    <p th:text="${projekti.kuvaus}">Projektin kuvaus</p>
                    <form th:method="POST" th:action="@{/projektit/tunti/{id}(id=${tunti.id})}" action="#">
                        <label>Kommentti: </label> <input type="text" name="kuvaus" />
                        <input type="hidden" th:value="${projekti.id}" name="projektiId" />
                       <input type="submit" value="Lopeta työskentely" class="toiminto" />
                    </form>
                    
                </div>

            </div>
        </div>
        
        <script type="text/javascript" src="/javascript/koodi.js"></script>
    </body>
</html>