<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projektitunnit</title>
        <meta charset="UTF-8" />
        <link th:href="@{/css/styles.css}" rel="stylesheet"  href="../../css/styles.css"/>
    </head>

    <body id="raportti">
        <div class="canvas">
            <div th:replace="fragments/header :: header"> 
            </div>

            <div class="sisalto">
                <h2>Tuntiraportit</h2>

                <p>Klikkaamalla projektin nimeä näet tarkemman tuntierittelyn projektista.</p>

                <table class="taulukko">
                    <thead>
                        <tr> <th>Projekti</th> <th>Tunteja yht.</th> </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${projektit.empty}"> <td colspan="2">Ei projekteja</td> </tr>
                        <tr th:each="projekti : ${projektit}"> 
                            <td><form th:method="POST" th:action="@/projektit/raportti/{id}(id=${projekti.id})}"> 
                                <button th:text="${projekti.nimi}" value="${projekti.id}" type="submit">nimi</button></form> </td> 
                            <td> – </td> </tr>
                    </tbody>
                </table>

                <div class="projekti" th:if="${projekti}">
                    <h3>Projektin tiedot: <span th:text="${projekti.nimi}">projektin nimi</span></h3>
                    <table class="taulukko">
                        <thead>
                            <tr> <td>Päiväys</td> <td>yhteensä</td> <td>Kommentit</td> </tr>
                        </thead>
                        <tbody>
                            <tr> <td colspan="3" th:if="${tunnit.empty}">Ei vielä tunteja</td> </tr>
                            <tr th:each="tunti : ${tunnit}"> <td >aika</td> <td> – </td> <td th:text)"${tunti.kuvaus}">kuvaus</td> </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </body>
</html>