<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projektitunnit</title>
        <meta charset="UTF-8" />
        <link th:href="@{/css/styles.css}" rel="stylesheet"  href="../../css/styles.css"/>
    </head>

    <body id="raportti">
        <div class="canvas">
            <div th:replace="fragments/header :: header"> 
            </div>

            <div class="sisalto">
                <h2>Tuntiraportit</h2>

                <table class="taulukko">
                    <thead>
                        <tr> <th>Projekti</th> <th>Tunteja yht.</th> </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${projektit.empty}"> <td colspan="2">Ei projekteja</td> </tr>
                        <tr th:each="projekti : ${projektit}"> 
                            <td> <span th:text="${projekti.nimi}">nimi</span><form th:method="GET" th:action="@{/projektit/raportti/{id}(id=${projekti.id})}"> 
                                <button  value="${projekti.id}" type="submit">Näytä</button></form> </td> 
                            <td th:text="${projekti.tunnit}"> – </td> </tr>
                    </tbody>
                </table>

                <div class="projekti" th:if="${projekti}">
                    <h3>Projektin tiedot: <span th:text="${projekti.nimi}">projektin nimi</span></h3>
                    <p th:text="${projekti.kuvaus}">kuvaus</p>
                    <table class="taulukko">
                        <thead>
                            <tr> <td>Päiväys</td> <td>Yhteensä</td> <td>Kommentit</td> <td>Muokkaa</td> </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${tunnit.empty}"> <td colspan="3" >Ei vielä tunteja</td> </tr>
                            <tr th:each="tunti : ${tunnit}"> 
                                <td th:text="${tunti.paivays}">aika</td> <td th:text="${tunti.kesto}"> – </td> <td th:text="${tunti.kuvaus}">kuvaus</td> <td><a th:href="@{/tunti/{id}(id=${tunti.id})}">Muokkaa</a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </body>
</html>