<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projektitunnit</title>
        <meta charset="UTF-8" />
        <link th:href="@{/css/styles.css}" rel="stylesheet"  href="../../css/styles.css"/>
    </head>

    <body id="ryhma">
        <div class="canvas">
            <div th:replace="fragments/header :: header"> 
            </div>

            <div class="sisalto">
                <h2>Ryhmät</h2>
                
                <h3>Ryhmät, joissa olet jäsenenä</h3>

                <table class="taulukko">
                    <thead>
                        <tr> <th>Ryhmä</th> <th>Kuvaus</th></tr>
                    </thead>
                    <tbody>
                        <tr> <td colspan="2">Ei ryhmiä</td> </tr>
                    </tbody>
                </table>
                
                <h3>Johtamasi ryhmät</h3>
                
                <table class="taulukko">
                    <thead>
                        <tr> <th>Ryhmä</th> <th>Kuvaus</th> <th>Muokkaa</th> <th>Poista</th> </tr>
                    </thead>
                    <tbody>
                        <tr> <td colspan="4">Ei ryhmiä</td></tr>
                    </tbody>
                </table>
                
                <form th:method="GET" th:action="@{/uusi_ryhma}">
                    <button type="submit" class="toiminto">Luo ryhmä</button>
                </form>

            </div>
        </div>
    </body>
</html>