<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projektitunnit</title>
        <meta charset="UTF-8" />
        <link th:href="@{/css/styles.css}" rel="stylesheet"  href="../../css/styles.css"/>
    </head>

    <body id="signup">
        <div class="canvas">
            <header class="clearfix">
                <h1>Projektituntiseuranta</h1>
            </header>

            <div class="sisalto">
                <h2>Rekisteröidy</h2>

                <p>Tervetuloa projektituntiseuranta-sovelluksen käyttäjäksi! Anna sähköpostiosoite, nimesi ja salasana. Sähköpostiosoite toimii käyttäjätunnuksenasi.</p>

                <form method="POST" th:action="@{/signup}" th:object="${kayttaja}" action="#">
                    <table>
                        <tr> <td>Sähköpostiosoite: *</td> 
                            <td> <input class="project-name" type="text" th:field="*{email}" /> 
                                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Virheviesti </p>
                            </td> </tr>
                        <tr> <td>Nimi: * </td> <td><input type="text" th:field="*{nimi}" class="project-name" /> 
                                <p th:if="${#fields.hasErrors('nimi')}" th:errors="*{nimi}"> virheviesti </p></td> </tr>
                        <tr> <td>Salasana: *</td> <td><input type="password" th:field="*{password}" id="salasana" /> <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> virheviesti</p></td> </tr>
                        <tr> <td>Salasana uudelleen: * </td> <td> <input type="password" id="salasana2" /> <p id="virhe"></p> </td> </tr>
                        <tr> <td> </td> <td><input type="submit" value="Rekisteröidy" /></td> </tr>
                    </table>
                </form>

            </div>
        </div>
        <script src="javascript/salasanat.js"></script>
    </body>
</html>