<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projektitunnit</title>
        <meta charset="UTF-8" />
        <link href="../../webapp/static/css/styles.css" th:href="@{/static/css/styles.css}" rel="stylesheet" type="text/css" />
    </head>

    <body id="ryhma">
        <div class="canvas">
            <div th:replace="fragments/header :: header"> 
            </div>

            <div class="sisalto">
                <h2>Luo uusi projekti</h2>

                <p>Anna ryhmällesi nimi. Halutessasi voit myös kuvailla ryhmääsi.</p>

                <form>
                    <table>
                        <tr> <td>Ryhmänn imi: *</td> <td> <input class="project-name" type="text" /> </td> </tr>
                        <tr> <td>Ryhmän kuvaus: </td> 
                            <td> <textarea class="project-desc" name="kuvaus"> </textarea> </td> </tr>
                        <input type="submit" value="Luo ryhmä" />
                    </tablE>
                </form>

            </div>
        </div>
    </body>
</html>