<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projektitunnit</title>
        <meta charset="UTF-8" />
        <link href="../../webapp/static/css/styles.css" th:href="@{/static/css/styles.css}" rel="stylesheet" type="text/css" />
    </head>

    <body id="uusi_projekti">
        <div class="canvas">
            <div th:replace="fragments/header :: header"> 
            </div>

            <div class="sisalto">
                <h2>Luo uusi projekti</h2>

                <p>Anna projektillesi nimi. Halutessasi voit myös kuvailla projektiasi.</p>

                <form method="POST" th:action="@{/projektit/uusi_projekti}" action="#" th:object="${projekti}">
                    <table>
                        <tr> <td>Projektin nimi: * </td>
                            <td> <input type="text" name="nimi" class="project-name" th:field="*{nimi}"/> </td>
                            <td th:if="${#fields.hasErrors('nimi')}" th:errors="*{nimi}">nimi virheviesti</td> 
                        </tr>
                        <tr> <td>Projektin kuvaus: </td>
                             <td> <textarea name="kuvaus" class="project-desc" th:field="*{kuvaus}"></textarea>
                            <td th:if="${#fields.hasErrors('kuvaus')}" th:errors="*{kuvaus}">kuvaus virheviesti</td>
                                  <input type="submit" class="new-project-submit" value="Luo projekti" /> </td> </tr>
                    </table>
                </form>

            </div>
        </div>
    </body>
</html>