<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projektitunnit</title>
        <meta charset="UTF-8" />
        <link href="../../webapp/static/css/styles.css" th:href="@{/static/css/styles.css}" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="canvas">
            <!--#include virtual="header.html"--> 

            <div class="sisalto">
                <h1>Luo uusi projekti</h1>

                <p>Anna ryhmällesi nimi. Halutessasi voit myös kuvailla ryhmääsi.</p>

                <form>
                    <table>
                        <tr> <td>Ryhmänn imi: *</td> <td> <input type="text" /> </td> </tr>
                        <tr> <td>Ryhmän kuvaus: </td> <td> <input type="text" /> </td> </tr>
                    </tablE>
                    <input type="submit" value="Luo ryhmä" />
                </form>

            </div>
        </div>
    </body>
</html>