<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projektitunnit</title>
        <meta charset="UTF-8" />
        <link th:href="@{/css/styles.css}" rel="stylesheet"  href="../../css/styles.css"/>
    </head>

    <body id="ryhma">
        <div class="canvas">
            <div th:replace="fragments/header :: header"> 
            </div>

            <div class="sisalto">
                <h2>Luo uusi ryhmä</h2>
                
                <p> <span color="#ff0000">Huom!</span> Ryhmän lisäys ei ole vielä mahdolista</p>

                <p>Anna ryhmällesi nimi. Halutessasi voit myös kuvailla ryhmääsi.</p>

                <form>
                    <table>
                        <tr> <td>Ryhmän nimi: *</td> <td> <input class="project-name" type="text" /> </td> </tr>
                        <tr> <td>Ryhmän kuvaus: </td> 
                            <td> <textarea class="project-desc" name="kuvaus"> </textarea> </td> </tr>
                        <tr><td> </td> <td><input type="submit" value="Luo ryhmä" disabled="disabled"/></td> </tr>
                    </table>
                </form>

            </div>
        </div>
    </body>
</html>