<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projektitunnit</title>
        <meta charset="UTF-8" />
        <link href="../../webapp/static/css/styles.css" th:href="@{/static/css/styles.css}" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="canvas">
            <header class="clearfix">
                <h1> Projektituntiseuranta</h1>
                <div class="kulma">
                    <button>Muokkaa tietojasi</button>
                    <button>Kirjaudu ulos</button>
                </div>

                <nav>
                    <ul>
                        <li><a href="#">Jatka työskentelyä</a></li>
                        <li><a href="#">Tuntiraportti</a></li>
                        <li><a href="#">Luo projekti</a></li>
                        <li><a href="#">Luo ryhmä</a></li>
                    </ul>
                </nav> 
            </header>

            <div class="sisalto">
                <h1>Luo uusi projekti</h1>

                <p>Anna projektillesi nimi. Halutessasi voit myös kuvailla projektiasi.</p>

                <form method="POST" th:action="@{/projektit/uusi_projekti}" action="/projektit/uusi_projekti">
                    <table>
                        <tr> <td>Projektin nimi: * <</td>
                             <td> <input type="text" name="nimi" class="project-name" /> </td>
                        </tr>
                        <tr> <td>Projektin kuvaus: </td>
                             <td> <textarea name="kuvaus" class="project-desc"></textarea>
                                  <input type="submit" class="new-project-submit" value="Luo projekti" /> </td> </tr>
                    </table>
                </form>

            </div>
        </div>
    </body>
</html>